<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9487dcaf55.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/styles/restaurants/style.css">
    <link rel="stylesheet" href="../public/styles/footer/footer.css">
    <title>Document</title>
  </head>
  <body>
    <header class="header">
        <a href="/">
            <i class="fas fa-arrow-left fa-lg arrow"></i>
        </a>
        <h1>ohmyfood</h1>
       <p></p>
      </header>

      <main class="main">
        <div class="delice banner"></div>
        
        <div class="menu-container">
            <div class="menu-title">
              <h2>Le délice des sens</h2>
              <i class="fa fa-heart fa-lg white"></i>
            </div>
            <div class="menu">
              <h3>Entrées</h3>
              <hr>
              <section class="menu-item first accordian-1">
                <h4>Tartare de thon</h4>
                <div class="menu-item-info">
                  <p>Assaisonné au yuzu</p>
                  <strong>25€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-2">
                <h4>Bouchée de homard croustillant </h4>
                <div class="menu-item-info">
                  <p>Et sa farandole de petits légumes</p>
                  <strong>35€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-3">
                <h4>Velouté de cèpes  </h4>
                <div class="menu-item-info">
                  <p>Aux truffes</p>
                  <strong>20€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
              <br>
              <h3>Plats</h3>
              <hr>
              <section class="menu-item first accordian-4">
                <h4>Poulet rôti aux herbes de Provence </h4>
                <div class="menu-item-info ">
                  <p>Et sa crème de truffe</p>
                  <strong>40€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-5">
                <h4>Langouste rôtie </h4>
                <div class="menu-item-info">
                  <p>Et ses légumes de saison</p>
                  <strong>35€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-6">
                <h4>Côte de boeuf Angus </h4>
                <div class="menu-item-info">
                  <p>Et sa purée de panais</p>
                  <strong>44€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
              <br>
              <h3>Desserts</h3>
              <hr>
              <section class="menu-item first accordian-7">
                <h4>Farandole de desserts</h4>
                <div class="menu-item-info ">
                  <p>Du chef</p>
                  <strong>18€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-8">
                <h4>Crème brulée </h4>
                <div class="menu-item-info">
                  <p>Revisitée</p>
                  <strong>22€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-9">
                <h4>
                    Tiramisu </h4>
                <div class="menu-item-info">
                  <p>À la noisette</p>
                  <strong>23€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
            </div>
          </div>
        </main>
        <footer class="footer">
          <h2>ohmyfood</h2>
          <div class="footer-flex">
            <i class="fas fa-utensils"></i>
            <p>Proposer un restaurant</p>
          </div>
          <div class="footer-flex">
            <i class="fas fa-hands-helping fa-xs"></i>
            <p>Devenir partenaire</p>
          </div>
          <div>
            <p>Mentions légales</p>
          </div>
          <div>
            <a href="mailto:ohmyfood!customerservice@gmail.com"><p> Contact</p></a>
          </div>
        </footer>
    </body>
  </body>
</html>
