<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9487dcaf55.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/styles/restaurants/style.css">
    <link rel="stylesheet" href="../public/styles/footer/footer.css">
    <title>Document</title>
  </head>
  <body>
    <header class="header">
        <a href="/">
            <i class="fas fa-arrow-left fa-lg arrow"></i>
        </a>
        <h1>ohmyfood</h1>
       <p></p>
      </header>

      <main class="main">
        <div class="note banner"></div>
        <div class="menu-container">
            <div class="menu-title">
              <h2>La note enchantée</h2>
              <i class="fa fa-heart fa-lg white"></i>
            </div>
            <div class="menu">
              <h3>ENTREES</h3>
              <hr>
              <section class="menu-item first accordian-1">
                <h4>Ravioles de foie gras </h4>
                <div class="menu-item-info">
                  <p>Accompagnés de leur crème à la truffe</p>
                  <strong>25€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-2">
                <h4>Caviar osciètre </h4>
                <div class="menu-item-info">
                  <p>Sur blini à la farine de blé noir</p>
                  <strong>35€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-3">
                <h4>Homard et espuma de potiron</h4>
                <div class="menu-item-info">
                  <p>Mariné aux zestes d'orange</p>
                  <strong>20€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>

              <section class="menu-item accordian-4">
                <h4>Foie gras de canard cuit entier</h4>
                <div class="menu-item-info">
                  <p>Confiture de figue et pain toasté</p>
                  <strong>35€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
              
              <br>
              <h3>Plats</h3>
              <hr>
              <section class="menu-item accordian-5">
                <h4>Noix de coquilles Saint-Jacques</h4>
                <div class="menu-item-info">
                  <p>Sur lit de purée de céleri-rave</p>
                  <strong>35€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>

              <section class="menu-item accordian-6">
                <h4>Langoustine poêlée</h4>
                <div class="menu-item-info">
                  <p>Purée de patate douce</p>
                  <strong>44€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>

              <section class="menu-item first accordian-7">
                <h4>Mijoté de queue de boeuf </h4>
                <div class="menu-item-info ">
                  <p>Et riz sauvage aux zestes de citron</p>
                  <strong>44€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
  
              
              <br>
              <h3>Desserts</h3>
              <hr>
              <section class="menu-item first accordian-8">
                <h4>Macaron noisette et chocolat</h4>
                <div class="menu-item-info ">
                  <p>Glace au caramel brun et sel de Guérande</p>
                  <strong>18€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-9">
                <h4>Baba au rhum revisité </h4>
                <div class="menu-item-info">
                  <p>Avec son coulis de citron</p>
                  <strong>22€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
  
              <section class="menu-item accordian-10">
                <h4>
                  Tarte au citron meringuée </h4>
                <div class="menu-item-info">
                  <p>Déstructurée</p>
                  <strong>23€</strong>
                  <span class="selected"><i class="fa fa-check-circle fa-lg"></i></span>
                </div>
              </section>
            </div>
          </div>
        </main>
        <footer class="footer">
          <h2>ohmyfood</h2>
          <div class="footer-flex">
            <i class="fas fa-utensils"></i>
            <p>Proposer un restaurant</p>
          </div>
          <div class="footer-flex">
            <i class="fas fa-hands-helping fa-xs"></i>
            <p>Devenir partenaire</p>
          </div>
          <div>
            <p>Mentions légales</p>
          </div>
          <div>
            <p>Contact</p>
          </div>
        </footer>
    </body>
  </body>
</html>
